@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body {
  background-color: black;
}

a {
  font-weight: bolder!important;
  text-decoration: none;
  outline: 0;
}

:global(.content) {
  position: absolute;
  top: 25vh; right: 0;
  bottom: auto; left: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: lighter;
  text-align: center;
  z-index: 1;

  :global(.title) {
    display: block;
    margin-bottom: 2vh;
    color: white;
    font-variant: small-caps;
    font-size: 15vh;

    :global(.caption) {
      position: absolute;
      top: 15vh; right: auto;
      bottom: auto; left: 52%;
      color: white;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 3.5vh;
    }
  }
}

:global(.background) {
  content: '';
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  background: url('https://unsplash.it/1920/1080/?random') center no-repeat;
  background-size: cover;
  opacity: 0.7;
  z-index: 0;
}
